body{
font-family: Arial, sans-serif;
background-color: #ffffff;

}
.chor{
    color: rgb(75, 0, 251);
    text-align: center;
    font-weight: bold;

}
.sigmo{
    color: rgb(85, 0, 255);
    text-align: center;
    font-weight: bold;
}
.litwin{
color:rgb(255, 255, 255);
text-align:center;
font-weight:bold;

}

