.block{
margin:5px;
background-color:rgba(0, 49, 112, 0.9);
padding:5px;

}
.inline{
    width:450px;
    height:430px;
}
#solo{
    display:inline;
    margin:6px;
    background-color:rgba(7, 78, 10, 0.9);
}
#sologou{
    display:block;
    margin:6px;
    background-color:rgba(7, 78, 10, 0.9);
}
#sraceam{
    width:220px;
    height:220px;
    display:block;
}