.rart{
width:100px;
height:110px;
background-color: rgb(140, 254, 0);
}
.dedei{
font-size: 2em;
width:42em;
height:11em;
background-color: #320000;

}
.dedei1{
font-size:23%;
width:37%;
height:11%;
background-color: rgba(255, 0, 255, 0.5);
}
.dedei2{
    font-size:2rem;
    width:5rem;
    height:8rem;
    background-color: rgba(0, 255, 255, 0.5);
}
#wewrt{
width: 202px;
height: 190px;
background-color: rgba(238, 67, 67, 0.5);

}











