#das {
           position: static;
           width: 200px;
           height: 100px;
           background-color: lightblue;
       }
#wefb {
            position:static;
            color: rgb(122, 122, 202)

}
#qntmd  {
            position:static;
            color: red
}
#spx  {
      position:static;
      top:55px;
      left:150px;
      background-color: lightgreen;
}

#qwert {
           position: relative;
           top: 30px;
           left: 60px;
           bottom:70px;
           background-color: rgb(96, 80, 80);
       }
#iop {
           position: relative;
           top:50px;
           right:70px;
           bottom:40px;
              background-color: rgb(82, 56, 74);
       }
#qsxz {position:absolute;
       top:100px;
       left:200px;
       bottom:50px;
       Background-color: rgb(184, 22, 22);
}
#plm {
    top:150px;
    left:250px;
    position:absolute;
    bottom:60px;
    background-color: rgb(44, 37, 37);
}


#rty {
           position: fixed;
           bottom:40px;
           right:40px;

       }
#thkmu  {
           position: sticky;
           top: 10px;
          
       }
#yhhj{
    position: sticky;
    top:20px;
}
